@charset "utf-8";

@import "fonts";
@import "settings";
@import "syntax-highlighting";

:root {
	--text-color:#222222;
	--medalist:#C4820E;
	--sans:'Open Sans',Arial,Verdana,sans-serif;
	--serif:Vollkorn,'Crimson Text',Georgia,'Times New Roman',serif;
}

html {
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height:100%;
	padding:0px;
	margin:0px;
}

body {
	position:relative;
	box-sizing:border-box;
	min-height:100%;
	padding:0px;
	margin:0px;
	border-top:30px solid var(--bblue);
	border-bottom:30px solid var(--bblue);
	background-color:white;
	font-family:var(--sans);
	color:var(--text-color);
}


@media screen and (min-width: 800px){ html{ font-size: 13px; } }
@media screen and (min-width: 900px){ html{ font-size: 13px; } }
@media screen and (min-width: 1000px){ html{ font-size: 14px; } }
@media screen and (min-width: 1100px){ html{ font-size: 14px; } }

$base-font-family: $body-font;
$base-font-size:   18px !default;
$base-font-size-body:   20px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #ffffff !default; // #fdfdfd
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/nemo"
;
