h1 {
	padding:0px;
	margin:5px 0px 0px;
	text-align:left;
	font-family:var(--serif);
	font-weight:normal;
	font-size:35px;
	line-height:normal;
	cursor:default;
}

h2 {
	margin:28px 0px 12px;
	font-weight:normal;
	font-size:22px;
}

h2:first-of-type {
	margin-top:16px;
}

p {
	padding:0px;
	margin:8px 0px;
	text-align:left;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

table.info {
	padding:0px;
	margin:8px 0px;
	border:none;
	border-collapse:collapse;
}

table.info td {
	padding:2px 15px 2px 0px;
	vertical-align:top;
}

table.sub {
	margin-left:30px;
}

a {
	text-decoration:none;
	color:var(--medalist);
}

a:hover, a:focus {
	text-decoration:underline;
	outline:none;
}

div.footer a {
	display:block;
	width:158px;
	margin:40px auto 0px;
}

div.footer a:focus {
	outline:1px solid silver;
}

div.footer img {
	height:63px;
}

div.fine-print {
	position:absolute;
	bottom:-22px;
	right:10px;
	font-size:9px;
	color:white;
	opacity:0.3;
}

/* Obfuscation */

.obfuscate .ob-decoy	{ display:none; }
.obfuscate .ob-at:after	{ content:"@"; }
.obfuscate .ob-dot:after	{ content:"."; }

/* Scale to smaller screens */

@media screen and (max-width: 650px)
{
div.shell	{ width:auto; font-size:16px; }
h1	{ font-size:32px; }
h2	{ margin:24px 0px 10px; font-size:18px; }
p	{ text-align:left; }
table.info	{ overflow-y:scroll; }
table.info td	{ padding-right:10px; }
table.sub	{ margin-left:20px; }
}

/* ==============================
 *         Main Body Text
 * ============================== */

p, ol, ul {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 1.4rem 0;
}

p {
    padding-right: 0;
    vertical-align: baseline;
}

li { margin-bottom: 0.5em; }

blockquote p, pre { padding-right: 0 10%; }

blockquote * { font-size: 1.1rem; }
blockquote p { line-height: 1.75rem; }
blockquote footer { text-align: right; }


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: calc($spacing-unit / 2);
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.75);
  border: 1px solid #CDC1FF;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: (calc($spacing-unit / 3)) (calc($spacing-unit / 2));
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
