/**
 * Custom divs
 */

.headerdiv {
	padding: 15px 15px 15px 15px; 
	border-top:1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

.bodydiv {
	padding: 15px 15px 15px 15px; 
	border:1px solid black; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px;
}
/* green header div */
.purdiv {
	@extend .headerdiv;
	background-color: #D2DAFF; 
}
/* green body div */
.purbdiv {
	@extend .bodydiv;
	background-color: #EEF1FF; 
}

/* green header div */
.gdiv {
	@extend .headerdiv;
	background-color: #BCEAD5; 
}
/* green body div */
.gbdiv {
	@extend .bodydiv;
	background-color: #DEF5E5; 
}

/* yellow header div */
.ydiv {
	@extend .headerdiv;
	background-color: #FFEBAD; 
}
/* yellow body div */
.ybdiv {
	@extend .bodydiv;
	background-color: #FFF6BF; 
}

/* blue header div */
.bdiv {
	@extend .headerdiv;
	background-color: #93C6E7; 
}
/* blue body div */
.bbdiv {
	@extend .bodydiv;
	background-color: #DDF2FD; 
}

/* pink header div */
.phdiv {
	@extend .headerdiv;
	background-color: #F3D0D7; 
}
/* pink body div */
.pbdiv {
	@extend .bodydiv;
	background-color: #FFEFEF; 
}

/* pink div */
.pdiv {
	background-color: #FFEFEF; 
	padding: 15px 15px 15px 15px; 
	border:1px solid black; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

